<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="shortcut icon" href="./img/relogio.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
    <title>Digital Watch</title>
</head>

<body>
    <!-- Div começa aqui-->
    <div id="Home" class="container">
        <nav class="navigation">
            <div class="logo">
                <h1>Digital Watch</h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#Home">Home</a></li>
                    <li><a href="#Sobre">Sobre nós</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </nav>

        <section class="usuario">
            <div class="clock"></div>

            <div class="form">
                <form action="/listUser" method="post">
                    <input  class="name" type="text" name="name" placeholder="COLOQUE SEU NOME PARA FICAR REGISTRADO
                    " />
                    <input class="sub" type="submit" value="Enviar" />

                    <!-- <table>
                        <tr>
                            <th>Nomes</th>
                            <tr>
                                <td>
                                    <% for (let i=1; i < todoDbList.length; i++){ %>
                                    <h4>
                                        <%= todoDbList[i] %>
                                    </h4>
                                    <% } %>
                                </td>
                            </tr>
                        </tr>
                    </table> -->
                    <div class="nomes">
                        <ul>
                            <h3 class="nome">Nome <span>id</span></h3>
                        </ul>
                        <ul>
                            <h3 class="nome">Nome <span>id</span></h3>
                        </ul>
                        <ul>
                            <h3 class="nome">Nome <span>id</span></h3>
                        </ul>
                    </div>
                </form>
            </div>

        </section>
    </div>

    <section id="Sobre">
        <h1>Sobre Nos</h1>

        <div class="content-sobre">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909__340.png" alt="">
                <div class="content">
                    <h2>nome</h2>
                    <h3>informacoes</h3>
                    <p>sksksjksjksjskjsksssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssj</p>
                </div>
            </div>
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909__340.png" alt="">
                <div class="content">
                    <h2>nome</h2>
                    <h3>informacoes</h3>
                    <p>sksksjksjksjskjsksssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssj</p>
                </div>
            </div>
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909__340.png" alt="">
                <div class="content">
                    <h2>nome</h2>
                    <h3>informacoes</h3>
                    <p>sksksjksjksjskjsksssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssj</p>
                </div>
            </div>
        </div>
    </section>

</body>
<script src="./js/digitalHours.js"></script>

</html>
