<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./views/css/style.css" />

  <link rel="shortcut icon" href="./img/relogio.png" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Roboto&display=swap" rel="stylesheet" />
  <title>Digital Watch</title>
</head>

<body>
  <!-- Div começa aqui-->
  <div class="container">
    <nav class="navigation">
      <div class="logo">
        <h1>Digital Watch</h1>
      </div>

      <div class="menu">
        <ul>
          <li><a href="#">Coloque seu nome</a></li>
          <li><a href="#sobre">Sobre nós</a></li>
        </ul>
      </div>
    </nav>

    <section id="home" class="usuario">
      <div class="clock"></div>
      <h2>COLOQUE SEU NOME PARA FICAR REGISTRADO</h2>
      <div id="nome" class="form">
        <form action="/listUser" method="post">
          <input class="name" type="text" name="name" placeholder="Nome" />
          <input class="sub" type="submit" value="Enviar" />
          <div class="nomes">
            <% for (let i=1; i < todoDbList.length; i++){ %>
              <h4>
                <%= todoDbList[i] %>
              </h4>
              <% } %>
          </div>
        </form>
      </div>
    </section>
  </div>

  <section id="sobre">

    <h1>Sobre Nos</h1>
    <div class="content-sobre">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909__340.png" alt="" />

        <h2>nome</h2>
        <h3>informacoes</h3>
        <p>
          sksksjksjksjskjsksssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssj
        </p>
        <ul>
          <li><a href="#">GitHub</a></li>
        </ul>
      </div>
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909__340.png" alt="" />

        <h2>nome</h2>
        <h3>informacoes</h3>
        <p>
          sksksjksjksjskjsksssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssj
        </p>
        <ul>
          <li><a href="#">GitHub</a></li>
        </ul>
      </div>
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909__340.png" alt="" />

        <h2>nome</h2>
        <h3>informacoes</h3>
        <p>
          sksksjksjksjskjsksssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssj
        </p>
        <ul>
          <li><a href="#">GitHub</a></li>
        </ul>
      </div>
    </div>
  </section>

  <footer>
    <h2>Todos os direitos reservados.</h2>
  </footer>
</body>
<script src="./views/js/digitalHours.js"></script>

</html>