* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Jockey One', sans-serif;
    background-color: #292929;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    /* background-image: radial-gradient(circle, #0c0c0c 0%, #050505 100%); */
    height: 100%;
}

.navigation h1 {
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 56px;
    color: #fff;
    align-items: center;
}

.navigation {
    position: fixed;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 70px;
    padding: 0 6%;
    top: 0px;
    align-items: center;
    background-color: #292929;
}

.navigation a {
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 42px;
    color: white;
}

.navigation ul li {
    margin-left: 25px;
}

.usuario {
    width: 50%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.clock {
    width: 60%;
    height: 180px;
    margin-top: 180px;
    align-items: center;
    border-radius: 10px;
    display: flex;
    font-size: 60px;
    justify-content: center;
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
    background-color: #586FE9;
}

.form {
    padding: 10px;

    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 10px;

    background-color: #586FE9;
}

.name::placeholder {
    color: #fff;
}

.name {
    width: 250px;
    font-size: 0.6rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #354dc3;
    border-bottom: 2px solid #ffffff;
}

.name:focus {
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    outline: 0;
    transition: 0.2s;
}

.sub {
    font-size: 0.7rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    border: 2px solid #ffffff;
}

.sub:hover {
    cursor: pointer;
    background-color: #0084ff;
    border: 2px solid #0084ff;
    transition: 0.3s;
}

.form table {
    margin-top: 15px;
    display: none;
}

.title {
    margin-bottom: 10px;
}

.clock {
    margin-bottom: 20px;
}

.nomes {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    background-color: #586FE9;
}

.nomes ul {
    display: flex;
    margin-top: 6px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid white;
}

.content-sobre {

    padding: 0 15%;
    display: flex;
    overflow-wrap: break-word;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.content-sobre h1{
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}

.card {
    min-width: 239px;
    max-width: 673px;

    padding: 40px;
    border-radius: 10px;
    margin: 0px 20px 40px 0px;

    border: 2px solid #586FE9;
    background-color: #586FE9;


}

.card:hover {
    border: solid 2px #004a9eda;
    transition: .3s;
}

.card img {
    width: 35%;
    border-radius: 50%;
    margin-left: 105px
}

.content {
    margin-left: 25px;
    width: 250px;
    text-align: center;
}
