* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
}

.container {
    background-image: radial-gradient(circle, #464646 0%, #395249 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    align-items: center;
    background-color: rgba(92, 58, 58, 0.63);
    border: 1px solid rgb(61, 45, 45);
    border-radius: 3%;
    color: #fff;
    display: flex;
    font-size: 60px;
    justify-content: center;
    height: 100px;
    width: 250px;
}