<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="views/css/style.css" />
    <link rel="shortcut icon" href="views/img/relogio.png">
    <title>Digital Watch</title>
</head>

<body>
    <!-- Div começa aqui-->
    <div class="container">
        <h1 class="title">Digital Watch</h1>
        <div class="clock"></div>

        <div class="form">
            <form action="/listUser" method="post">
                <input type="text" name="name" placeholder="Coloque seu nome aqui : )" />
                <input type="submit" value="Enviar" />
                <table>
                    <tr>
                        <th>Nomes</th>
                    <tr>
                        <td>
                            <% for (let i=1; i < todoDbList.length; i++){ %>
                                <h4>
                                    <%= todoDbList[i] %>
                                </h4>
                                <% } %>
                        </td>

                    </tr>
                </table>
            </form>

        </div>
    </div>
    <div class="card">

</body>
<script src="./views/js/app.js"></script>

</html>